.box {
    width: 800px;
    margin: 0 auto;
}

.active_tab1 {
    background-color: #fff;
    color: #333;
    font-weight: 600;
}

.inactive_tab1 {
    background-color: #f5f5f5;
    color: #333;
    cursor: not-allowed;
}

.has-error {
    border-color: #cc0000;
    background-color: #FFFFFF;
}

.modal {
    padding: 0 !important;
    /* override inline padding-right added from js */
}

.modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}

.modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal .modal-body {
    overflow-y: auto;
}